@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    color: white;
    background-color: #1B1B1E;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

#navbar {
    display: flex;
    padding: 10px;
    background-color: #292a34;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#navbar a {
    background-color: #292a34;
    margin: auto;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    
}

#content {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.pass *, .pass {
    background-color: #292a34;
}

.pass {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.pass p {
    margin: 5px;
}


.pass .pass-sat {
    font-size: 20px;
    margin-bottom: 10px;
}

.pass .pass-date {
    margin-top: 10px;
}

.pass img {
    width: 15em;
    margin-left: 5px;
    margin-right: 5px;
}